{% extends '@AAFrontTalks/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content_title %}Liste des discussions{% endblock content_title %}

{% block content %}
    {# <a class="btn btn-success btn-block" href="{{ path('talks_new_topic') }}">Créer un nouveau sujet</a> #}
    <hr>
    {% for topic in talks|sortbyfield('lastActivity', 'desc') %}
        <div class="topic">
            <a href="{{ path('talks_topic', {'topicId': topic.id}) }}" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"></span> Accéder</a>
            <h4><a href="{{ path('talks_topic', {'topicId': topic.id}) }}">{{ topic.topicSubject }}</a></h4>
            <p class="topic_content">{{ topic.topicContent|striptags|truncate(250, true) ~ '...' }}</p>
            <p>
                <small>
                    <span class="glyphicon glyphicon-user"></span> par <strong>{{ topic.topicUser.firstName }} {{ topic.topicUser.lastName }}</strong><br>
                    <span class="glyphicon glyphicon-time"></span> dernière modification le <strong>{{ topic.lastActivity | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y à HH:m') }} </strong><br>
                    <span class="glyphicon glyphicon-comment"></span> <strong>{{ topic.comments | length }}</strong> réponse{% if topic.comments | length > 1 %}s{% endif %}
                </small>
            </p>
            <p></p>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}