{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <h1><img src="{{ asset('images/logo.png') }}"></h1>
        <p class="lead hidden-xs hidden-sm hidden-print">Bienvenue mon frère <strong>{{ app.user.firstName }}</strong> sur l'espace de discussion des loges Akhenaton et Aristarque de Samos.</p>

        <p><s>Documents à télécharger :</s></p>
        <p>
            <a href="{{ asset('pdf/axes_questions.pdf') }}" target="_blank"><i class="glyphicon glyphicon-book"></i> Les axes de questionnement</a><br>
            <a href="{{ asset('pdf/etats_generaux.pdf') }}" target="_blank"><i class="glyphicon glyphicon-book"></i> Etats généraux - présentation</a>
        </p>

        <div id="last5Comments" class="hidden-xs hidden-sm hidden-print">
            <hr>
            {{ render(controller('AAFrontTalksBundle:Comments:last5CommentsBlock'))  }}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">

        <div>
            <h1 class="script">Akhenaton & Aristarque de Samos</h1>
            <div class="text-center"><img src="{{ asset('images/handshake.jpg') }}"></div>
            <hr>
        </div>

        <h2>{% block content_title %}{% endblock content_title %}</h2>

        {% block content %}
        {% endblock content %}

    </div>
</div>
{% endblock body %}